<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"	
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">
 
    <context:component-scan base-package="cz.cvut.fit.bouchja1.mi_dip.rest.*" />
    
   
    <bean id="ensembleZeroMqHelper" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.helper.zeromq.EnsembleZeroMqHelper" />                     
    
    <bean id="algorithmEndpointHelper" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.helper.AlgorithmEndpointHelper">
        <property name="solrService" ref="solrService"/>
    </bean>       
    
    <bean id="algorithmEndpoint" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.endpoint.AlgorithmEndpointImpl" >   
        <property name="algorithmEndpointHelper" ref="algorithmEndpointHelper"/>
    </bean>          
    
    <bean id="articleEndpointHelper" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.helper.ArticleEndpointHelper">
        <property name="solrService" ref="solrService"/>
    </bean>      
    
    <bean id="articleEndpoint" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.endpoint.ArticleEndpointImpl" >
        <property name="articleEndpointHelper" ref="articleEndpointHelper"/>
    </bean>        
    
    <bean id="ensembleEndpointCollection" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.endpoint.EnsembleEndpointCollectionImpl"/>   
    <bean id="ensembleEndpointSupercollection" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.endpoint.EnsembleEndpointSupercollectionImpl"/>    
    
    <bean id="solrService" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.solr.SolrService">
        <property name="serverUrl" value="http://localhost:8089/solr/"/>
        <!-- java.util.Set -->
        <property name="validSolrCores">
            <set>
                <value>articleCore</value>
                <value>behavioralCore</value>
            </set>
        </property>        
    </bean>       
</beans>
