<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"	
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">
 
    <context:component-scan base-package="cz.cvut.fit.bouchja1.mi_dip.rest.*" />
    
   
    <bean id="zeroMqClientHelper" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.zeromq.ZeroMqClientHelper" />
    
    <bean id="algorithmSolrService" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.solr.AlgorithmSolrService"/> 
    
    <bean id="coreSolrService" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.solr.CoreSolrService"/> 

    <bean id="algorithmEndpointHelper" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.helper.AlgorithmEndpointHelper">
        <property name="algorithmSolrService" ref="algorithmSolrService"/>
    </bean>      
        
    <bean id="coresEndpointHelper" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.helper.CoresEndpointHelper">
        <property name="coreSolrService" ref="coreSolrService"/>
    </bean>        
    
    <bean id="algorithmEndpoint" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.endpoint.AlgorithmEndpoint" >   
        <property name="algorithmEndpointHelper" ref="algorithmEndpointHelper"/>
    </bean>          

    <bean id="coresEndpoint" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.endpoint.CoresEndpoint" >
        <property name="coresEndpointHelper" ref="coresEndpointHelper"/>
    </bean>    
    
    <bean id="ensembleEndpoint" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.endpoint.EnsembleEndpoint"/>   
    
    <bean id="solrService" class="cz.cvut.fit.bouchja1.mi_dip.rest.client.solr.SolrService">
        <property name="serverUrl" value="http://localhost:8089/solr/"/>
        <!-- java.util.Set -->
        <property name="validSolrCores">
            <set>
                <value>userBased</value>
                <value>collaborative_filtering</value>
            </set>
        </property>        
    </bean>       
</beans>
